* {
  font-family: sans-serif;
  box-sizing: border-box;
}

.calculator {
  margin: 50px auto;
  padding: 20px;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  border: 3px solid gray;
  border-radius: 20px;
}

.calculator-title {
  margin: 0 0 20px;
  color: rgb(60, 60, 60);
}

input,
button {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}

button {
  border: 1px solid gray;
  background: whitesmoke;
}

button:nth-last-child(2),
button:nth-last-child(1) {
  background: tomato;
  color: white;
}

.calculator-screen {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
  grid-gap: 10px
}

