* {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --main-bg-color: #5D6363;
    --primary-color: #D0604C;
    --secondary-color: #F2E0D2;
    --hover-color: #b09f93;
  }

/* HEADER */
/* HEADER */

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    z-index: 99;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: var(--main-bg-color);
    border-bottom: 3px solid var(--primary-color);

    padding-left: 13vh;
    padding-right: 13vh;
}

.logo-container {
    flex: 1;
    height: 60%;
    gap: 4vh;
    
    display: flex;
    text-align: center;
    align-items: center;
}

.logo {
    height: 120%;
    object-fit: contain;
}

.nav-container {
    letter-spacing: 0.05rem;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--secondary-color);
    list-style: none;

    display: flex;
    gap: 4vh;
}

.nav-item {
    cursor: pointer;
}

.nav-item-container:hover {
    cursor: pointer;
    color: var(--primary-color);
    text-decoration: underline;
} 


/* HEADER */
/* HEADER */

/* MAIN */
/* MAIN */

.main-container {
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
} 

.banner {
    padding-top: 5vh;
    padding-bottom: 30vh;

    background-image: url(images/adam-winger-KVVjmb3IIL8-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.slogan {
    color: #D0604C;
    text-shadow: 1px 1px 2px var(--secondary-color);
}

.cards-section {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.card {
    width: 30%;
    height: 50vh;
}

.card-pic {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.info-section {
    border: 9px solid var(--primary-color);
    display: flex;
    flex-direction: column;
    margin: 0 3vw;
}

.article-section {
    height: 50vh;
    flex-wrap: nowrap;
    display: flex;

    text-align: justify;
}

.article-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 50%;
    height: 100%;
}

.article-img-container {
    height: 100%;
    width: 50%;
}

.article-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.info-paragraph {
    color: var(--hover-color);
}

.info-title {
    color: var(--primary-color);
}


/* MAIN */
/* MAIN */

/* BOOKING SECTION */
/* BOOKING SECTION */

.booking-section {
    display: flex;
    flex-direction: column;
    border: 9px solid var(--primary-color);
    height: min-content;
    margin: 0 3vw;
}

.booking-title {
    padding: 1rem 0;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 1.1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.booking-content-container {
    padding: 0 1rem;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
}

.booking-img-container {
    height: 300px;
}

.booking-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-section {
    gap: 0.7rem;
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.form-label {
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: var(--main-bg-color);
}

.input-box {
    padding: 0.3rem 7rem 0.3rem 0.3rem;
    font-size: 0.7rem;
    color: var(--secondary-color);
    display: block;
    border: 2px solid var(--main-bg-color);
    background-color: #5D6363;
}

.input-box::placeholder {
    color: #988b81;
}

.booking-button {
    margin-top: 1rem;
    padding: 0.5rem 0;
    font-size: 0.8rem;
    letter-spacing: 0.1em;
    background: none;
    background-color: #5D6363;
    color: var(--secondary-color);
    border: 3px solid var(--main-bg-color);
}

.booking-button:hover {
    border: 3px solid #767c7c;;
    cursor: pointer;
    background-color: #767c7c;
}

.booking-button:active {
    border: 3px solid #202121;;
    cursor: pointer;
    background-color: #202121;;
}

::-webkit-datetime-edit-text {color: #988b81; padding: 0 0.3em; }
::-webkit-datetime-edit-month-field { color: #988b81; }
::-webkit-datetime-edit-day-field { color: #988b81; }
::-webkit-datetime-edit-year-field { color: #988b81; }
::-webkit-datetime-edit { 
    padding: 0 1.1rem 0 0.1rem;
    
}

/* BOOKING SECTION */
/* BOOKING SECTION */

/* FOOTER */
/* FOOTER */

.footer-container {
    padding: 1rem;
    border-top: 3px solid var(--primary-color);
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: var(--main-bg-color);
    color: var(--secondary-color);
}

.footer-section {
    display: flex;
    flex-direction: column;
}

.footer-newsletter {
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.newsletter-label {
    font-size: 1rem;
}

.input-button-subscribe {
    display: flex;
    text-align: center;
    align-items: center;
}

#newsletter-email {
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    margin: 0;
    border: none;
}

#newsletter-email:focus {
    box-shadow: 0 0 3px var(--secondary-color);
    outline-offset: 0px;
    outline: none;
}

.newsletter-button {
    background-color: var(--secondary-color);
    color: var(--main-bg-color);
    padding: 0.5rem;
    margin: 0;
    border-radius: 0;
    border: none;
}

.newsletter-button:hover {
    cursor: pointer;
    box-shadow: 0 0 2px var(--hover-color);
    background-color: var(--hover-color);
}

.newsletter-button:active {
    cursor: pointer;
    box-shadow: 0 0 2px #988b81;
    background-color: #988b81;
    color: var(--secondary-color);
}

.footer-link {
    font-size: 0.9rem;
    text-transform: uppercase;
    color: var(--hover-color);
    text-decoration: none;
}

.footer-follow-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.follow-icons {
    display: flex;
    align-items: flex-start;
    gap: 1vw;
}

.follow-icon {
    object-fit: contain ;
    height: 32px;
    width: 32px;
    filter: invert(91%) sepia(13%) saturate(306%) hue-rotate(338deg) brightness(99%) contrast(92%);
}

.follow-icon:hover {
    cursor: pointer;
    filter: invert(70%) sepia(8%) saturate(588%) hue-rotate(342deg) brightness(92%) contrast(86%);
} 

/* FOOTER */
/* FOOTER */